{
  "info": {
    "title": "NAIS public release snapshots",
    "version": "0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/~/+/app/static/agent.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Static public snapshot; no calculation or user-task access"
          }
        },
        "summary": "Read the public release snapshot agent.json"
      }
    },
    "/~/+/app/static/examples.json": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Static public snapshot; no calculation or user-task access"
          }
        },
        "summary": "Read the public release snapshot examples.json"
      }
    },
    "/~/+/app/static/llms.txt": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Static public snapshot; no calculation or user-task access"
          }
        },
        "summary": "Read the public release snapshot llms.txt"
      }
    }
  },
  "servers": [
    {
      "url": "https://nais-evidence-gate-finals.streamlit.app"
    }
  ]
}
